@import '../theme/variables';
@import '../theme/utilities';
@import './datePickerCommon';

.selector-box {
  @extend %abs;
  top: $wrapperH + 16px;
  left: 0;
  width: $selectorW;

  background: $bgc;
  filter: drop-shadow(0 0 2px rgba(black, .2));

  transform-origin: 50% 0;

  &::before {
    content: '';
    display: block;
    @extend %abs;
    left: 20px;
    top: -6px;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $bgc;
  }

  // selector-box 在 input 上面的样式
  &.upSide {
    top: - 50px - $cellW - $cellH * 6 - 30px - 16px;
    transform-origin: 50% 100%;

    &::before {
      top: auto;
      bottom: -6px;

      width: 0;
      height: 0;
      border-top: 6px solid $bgc;
      border-bottom: none;
    }
  }
}

// selectorBox transition style
.enter, .leave {
  transition: all .3s;
}

.before-enter, .leave {
  opacity: 0;
  transform: scaleY(0);
}

.enter, .before-leave {
  opacity: 1;
  transform: scaleY(1);
}

/**
 * selector-head
 */
.selector-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 10px;

  font-size: $fontL;
  text-align: center;

  // BtnWrappers
  > div {
    display: flex;
  }
}

%selectorHeadBtnWrapper {
  @extend %rel;
  display: block;
  width: 24px;
  height: 24px;
  filter: grayscale(100%);

  cursor: pointer;

  &::before {
    content: '';
    @extend %iconBg;
    width: 16px;
    height: 16px;
    left: 0;
    right: 0;
    opacity: .8;

    transform-origin: 50% 50%;
  }

  &:hover {
    filter: grayscale(0);
  }
}

%iconDoubleLeftBg {
  background: url("../../static/images/icon_doubleLeft.svg") no-repeat;
  background-size: 100% 100%;
}

%iconLeftBg {
  background: url("../../static/images/icon_left.svg") no-repeat;
  background-size: 100% 100%;
}

.year-minus-btn {
  @extend %selectorHeadBtnWrapper;

  &::before {
    @extend %iconDoubleLeftBg;
  }
}

.month-minus-btn {
  @extend %selectorHeadBtnWrapper;

  &::before {
    @extend %iconLeftBg;
  }
}

.year-plus-btn {
  @extend %selectorHeadBtnWrapper;

  &::before {
    @extend %iconDoubleLeftBg;
    transform: rotate(180deg);
  }
}

.month-plus-btn {
  @extend %selectorHeadBtnWrapper;

  &::before {
    @extend %iconLeftBg;
    transform: rotate(180deg);
  }
}

/**
 * week-text-wrapper
 */
.week-text-wrapper {
  display: flex;
  width: $cellW * 7;
  height: $cellW;
  margin: 0 auto;

  border-bottom: 1px solid lighten($fontColor, 50%);

  > span {
    @extend %flexCenter;
    width: $cellW;
    height: $cellW;
  }
}

/**
 * date-list-wrapper
 */
.date-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: $cellW * 7;
  margin: 10px auto 20px;

  > li {
    @extend %rel;
    @extend %flexCenter;
    width: $cellW;
    height: $cellH;

    cursor: pointer;
    color: lighten($fontColor, 30%);

    span {
      @extend %rel;
      z-index: 10;
    }

    // 视窗当月日期
    &.current-month {
      color: $fontColor;

      &:hover {
        color: $colorBlue;
      }
    }

    // 今天的日期
    &.today {
      color: $colorBlue;
      font-weight: 800;

      &.disabled {
        color: lighten($colorBlue, 20%);

        &:hover {
          color: lighten($colorBlue, 20%);
        }
      }
    }

    // 已经选中的日期
    &.current-day {
      color: white;
      font-weight: 800;

      &:hover {
        color: white;
      }

      &::before {
        content: '';
        display: block;
        @include fix-center(0);

        width: 30px;
        height: 30px;

        background-color: $colorBlue;
        border-radius: 50%;
      }
    }

    // 禁用日期
    &.disabled {
      color: lighten($fontColor, 52%);
      cursor: not-allowed;

      &:hover {
        color: lighten($fontColor, 52%);
      }
    }
  }
}
