/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 12px;
$fontM: 14px;
$fontL: 16px;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #666;

/* default background color */
$bgc: white;

/* other color */
$colorRed: #f56c6c;

/*---------------------------
 * layout
 *---------------------------*/
$itemH: 40px;
$itemSpace: 20px;
$radius: 4px;

