/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 12px;
$fontM: 14px;
$fontL: 16px;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #666;

/* default background color */
$bgc: white;

/* other color */

