/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 14px;
$fontM: 15.5px;
$fontL: 17px;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #666;

/* default background color */
$bgc: #394651;

/* other color */

