// styleInHtml
@import 'variables';
@import 'utilities';
/*---------------------------
 * reset style
 *---------------------------*/
@import "reset";

html, body {
  position: relative;
  height: 100%;
}

html {
  font-size: 100px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: $bgc;
  color: $fontColor;
  font-size: $fontM;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

/*---------------------------
 * Main Frame
 *---------------------------*/

%common {
  $H: 30px;
  margin: 40px auto;
  width: 100px;
  height: $H;

  font-weight: 700;
  line-height: $H;
  text-align: center;
  color: $fontColor;
}

.text {
  // 设定过渡持续时间和曲线
  $duration: .3s;
  $bezier: cubic-bezier(.24, .23, .45, 1.43);

  @extend %common;
  font-size: $fontL;
  transition: color $duration $bezier;

  // 用伪类实现底下的激活状态的线
  &::after {
    display: block;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: $colorBlue;

    transform-origin: 50% 50%;
    transform: scaleX(0);

    transition: transform $duration $bezier;
  }

  // 激活状态的变化
  &.active {
    color: $colorBlue;

    &::after {
      transform: scaleX(1);
    }
  }
}

.button {
  display: block;
  @extend %common;
  font-size: $fontS;

  background-color: $bgc;
  border: 1px solid $fontColor;
  border-radius: 5px;

  &:active {
    background-color: darken($bgc, 5%);
  }
}


