doctype html
html(lang='en')
  head
    include includes/meta.pug
    title No.5 - 纯 CSS 制作绕中轴旋转的立方体

  body
    .stage
      .container
        - var n = 0;
        while n < 6
          .side
          - n++;

