doctype html
html(lang='en')
  head
    include includes/meta.pug
    title 2.8 组件实现加生命周期

    //- san-mui 需要引入Roboto字体
    link(rel="stylesheet",
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")

  body
