doctype html
html(lang='en')
  head
    include includes/meta.pug
    title No.3 - CSS transition 和 CSS transform 配合制作动画

  body
    // 脸
    .face
      // 头发
      .hair
        div

      // 眼睛
      .eye-wrap
        .left
          .eye-circle
            .eye-core
          .eye-bottom
          .face-red

        .right
          .eye-circle
            .eye-core
          .eye-bottom
          .face-red

      // 鼻子
      .nose

      // 嘴巴
      .mouth-wrap
        .left
        .right

    // 耳朵
    .ear-wrap
      .left
      .right
