@import '../../theme/variables';
@import '../../theme/utilities';

.edit-todo-wrapper {
  @extend %rel;
  margin: 40px 0;

  background: white;
  box-shadow: 0 2px 4px 0 rgba(black, .2),
  0 25px 50px 0 rgba(black, .1);

  input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
  }

  label {
    display: block;
    padding: 30px 15px 0;
  }
}

.edit-item-wrapper {
  @extend %rel;
}

.edit-title {
  @extend %rel;
  width: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;

  font-size: 24px;
  line-height: 1.4em;
  color: inherit;

  box-shadow: inset 0 -2px 1px rgba(black, .03);
}

.error {
  @extend %abs;
  left: 0;
  bottom: -24px;
  height: 24px;
  padding-left: 15px;
  line-height: 24px;

  color: #f56c6c;
}

.edit-buttons-wrapper {
  @extend %flexCenter;
  padding: 20px 0;
}

%editButton {
  @extend %flexCenter;
  width: 150px;
  height: 40px;
  margin: 0 10px;

  border: 1px solid lighten($fontColor, 30%);
  border-radius: 4px;
}

.edit-done {
  @extend %editButton;
}

.edit-cancel {
  @extend %editButton;
}

