@import '../../theme/variables';
@import '../../theme/utilities';

.main {
  @extend %rel;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.toggle-all {
  @extend %abs;
  top: -65px;
  left: 0;
  height: 65px;
  width: 60px;
  @extend %flexCenter;

  &::before {
    content: '❯';
    display: block;
    color: #e6e6e6;
    font-size: 22px;
    transform: rotate(90deg);
  }

  &.all-checked {
    &::before {
      color: #737373;
    }
  }
}

.add-todo {
  @extend %abs;
  top: -65px;
  right: 0;
  height: 65px;
  width: 60px;
  @extend %flexCenter;
  opacity: .6;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;

    background: url("../../../static/images/icon-add.svg") no-repeat;
    background-size: 100% 100%;
  }

  &:hover {
    opacity: .8;
  }
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}