@import '../../theme/variables';
@import '../../theme/utilities';

.footer {
  @extend %rel;
  @extend %flexCenter;
  height: 40px;
  text-align: center;
  border-top: 1px solid $bgc;

  &::before {
    content: '';
    @extend %abs;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;

    overflow: hidden;
    box-shadow: 0 1px 1px rgba(black, .2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(black, .2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(black, .2);
  }
}

.items-count {
  @extend %abs;
  @extend %flexCenter;
  top: 0;
  left: 20px;
  bottom: 0;
  margin: auto;
}

.filters-wrapper {
  @extend %rel;

  > a {
    margin: 3px;
    padding: 3px 7px;
    border: 1px solid transparent;
    border-radius: 3px;

    &.selected {
      border-color: rgba(175, 47, 47, .2);
    }
  }
}

.clear-completed {
  @extend %abs;
  @extend %flexCenter;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;

  &:hover {
    text-decoration: underline;
  }
}
