@import '../../theme/variables';
@import '../../theme/utilities';

.button {
  @extend %flexCenter;
  padding: 10px;

  background-color: $colorBlue;
  color: white;

  &:hover {
    background-color: lighten($colorBlue, 5%);
  }

  + .button {
    margin-left: 20px;
  }
}