@import '../theme/variables';
@import '../theme/utilities';

.task-menu {
  width: 100%;

  > h2 {
    width: 100%;

    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: white;
  }
}
