@import '../theme/variables';
@import '../theme/utilities';

.san-checkbox {
  @extend %rel;
  display: flex;
  height: 20px;
  margin: 8px;

  line-height: 20px;
  font-size: 12px;

  /**
   * 选中状态
   */
  &.checked {
    .icon {
      background: url("../../static/images/checked.svg") no-repeat;
      background-size: 100% 100%;
    }
  }

  /**
   * 未定状态
   */
  &.indeterminate {
    .icon {
      background: url("../../static/images/indeterminate.svg") no-repeat;
      background-size: 100% 100%;
    }
  }

  /**
   * 禁用状态
   */
  &.disabled {
    opacity: .5;
  }

  .icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;

    background: url("../../static/images/unchecked.svg") no-repeat;
    background-size: 100% 100%;
  }

  input {
    @extend %fullContainer;
    opacity: 0;

    &:disabled {
      cursor: not-allowed;
    }
  }

}